button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    
}

.primary {
    border: 0;
    background-color: rgba(0, 0, 0, 1.0);
    color: rgba(255, 255, 255, 1.0);
    padding: 8px 48px;
}

.secondary {
    border: 1px solid rgba(0, 0, 0, 1.0);
    background-color: rgba(0, 0, 0, 0);
    color: rgba(05, 0, 0, 1.0);
    padding: 8px 48px;
}